.close {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all 0.2s;
}

.close:hover {
  transform: scale(1.4);
  cursor: pointer;
}

/* 여기서 부턴 CSS transition */

.mainEnter {
  transform: scale(0);
}

.mainEnterAcitve {
  transform: scale(1);
  transition: 0.4s;
}

.mainExit {
  transform: scale(0);
  transition: 0.4s;
}

.mainExitActive {
  transform: scale(0);
}

/* 여기서 부턴  로그인 */

.loginEnter {
  transform: translateX(-400px);
}

.loginEnterAcitve {
  transition: all 0.5s ease;
}

.loginExit {
  transition: all 0.5s ease;
}

.loginExitActive {
  transform: translateX(-400px);
}

/* 여기서 부턴 회원가입*/

.registerEnter {
  position: absolute;
  transform: translateX(400px);
}

.registerEnterAcitve {
  transform: translateX(0);
  transition: all 0.5s ease;
}

.registerExit {
  transform: translateX(0);

  transition: all 0.3s ease;
}

.registerExitActive {
  position: absolute;

  transform: translateX(400px);
}
/* .main-enter {
  transform: scale(0);
  transition: 0.4s;
}
.main-enter-active {
  transform: scale(1);
} */ ;
