.btn {
  border: 0;
  outline: none;
  width: 80%;
  background: var(--color-main-darker);
  color: #fff;
  transition: 0.2s;
  font-size: var(--text-size-medium);
  padding: 0.8rem 1rem;
  border-radius: 8px;
  transition: 0.5s;
}

.btn:disabled {
  background-color: var(--color-hightLight1);
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: black;
}
