.wrapper {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 440px;
  font-size: var(--text-size-medium);
  background: transparent;
  backdrop-filter: blur(22px);
  border-radius: 20px;
}
