.header {
  height: 5rem;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  left: 0;
  width: 100%;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  font-size: var(--text-size-medium);
}

.nav {
  padding: 0 4rem;
}

.icon {
  color: var(--color-hightLight1);
}

.btn {
  border: 0;
  outline: none;
  background: transparent;
  color: #fff;
  transition: 0.2s;
  font-size: var(--text-size-medium);
  padding: 0.8rem 1rem;
  border-radius: 4px;
  margin-right: 2rem;
  transition: 0.5s;
}

.btn:hover {
  background-color: #fff;
  cursor: pointer;
  color: black;
}
